In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('ad_click_dataset.csv')

In [12]:
df.head()

,id,full_name,age,gender,device_type,ad_position,browsing_history,time_of_day,click
0,670,User670,22.0,NaN,Desktop,Top,Shopping,Afternoon,1
1,3044,User3044,NaN,Male,Desktop,Top,NaN,NaN,1
2,5912,User5912,41.0,Non-Binary,NaN,Side,Education,Night,1
3,5418,User5418,34.0,Male,NaN,NaN,Entertainment,Evening,1
4,9452,User9452,39.0,Non-Binary,NaN,NaN,Social Media,Morning,0

In [3]:
df.shape

(10000, 9)

In [4]:
df.columns

Index(['id', 'full_name', 'age', 'gender', 'device_type', 'ad_position',
       'browsing_history', 'time_of_day', 'click'],
      dtype='object')

In [5]:
df.isnull().sum()

id                     0
full_name              0
age                 4766
gender              4693
device_type         2000
ad_position         2000
browsing_history    4782
time_of_day         2000
click                  0
dtype: int64

In [6]:
df['gender'].value_counts()

gender
Female        1834
Male          1810
Non-Binary    1663
Name: count, dtype: int64

----------------------------------------------------
Methods to handle missing values
1. Ignore missing values row / delete row
2. fill missing value manually
3. global constant
4. measure of central tendency ( mean, midian & mode)
5. most probable value (ML Algorithms)
-----------------------------------------------------

In [7]:
# Impute missing gender with the most frequent value (mode)
# most_frequent_gender = df['gender'].mode()[0]
# df['gender'].fillna(most_frequent_gender, inplace=True)
# df['gender']

# Drop rows with missing gender values
df.dropna(subset=['gender'], inplace=True)

To check missing values in a percentange

In [8]:
null_var = df.isnull().sum()/df.shape[0] *100
null_var

id                   0.000000
full_name            0.000000
age                 48.219333
gender               0.000000
device_type         19.634445
ad_position         20.463539
browsing_history    46.278500
time_of_day         19.615602
click                0.000000
dtype: float64

## drop(): Drop columns based on condition, if column contain missing values is more than 20% then it will delete that column

In [9]:
drop_columns = null_var[null_var > 20 ].keys()
drop_columns

Index(['age', 'ad_position', 'browsing_history'], dtype='object')

In [12]:
df2_drop_clm = df.drop(columns = drop_columns)

In [13]:
df2_drop_clm.shape

(5307, 6)

In [14]:
df['age'].isnull().sum()

np.int64(2559)

### 4. Drop rows(threshold-based) missing values in more than 50% of their columns

In [13]:
df.shape

(10000, 9)

In [14]:
data_cleaned = df.dropna(thresh=df.shape[1] * 0.5)
data_cleaned.shape

(9860, 9)

## dropna() ----> To delete entire rows

In [15]:
df3_drop_rows = df.dropna()

In [16]:
df3_drop_rows.shape

(816, 9)

In [17]:
df3_drop_rows.isnull().sum()

id                  0
full_name           0
age                 0
gender              0
device_type         0
ad_position         0
browsing_history    0
time_of_day         0
click               0
dtype: int64

In [18]:
df3_drop_rows.isnull().sum().sum()

np.int64(0)

In [19]:
df3_drop_rows.select_dtypes(include=[np.number]).columns

Index(['id', 'age', 'click'], dtype='object')

Let's compare dataframe before cleaning with after cleaning using graph

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

original dataframe

In [ ]:
sns.histplot(df['id'])

Cleaned dataframe

In [ ]:
sns.histplot(df3_drop_rows['id'])

In [ ]:
sns.histplot(df['id'])
sns.histplot(df3_drop_rows['id'])

There are too much difference after removing null values so dropna is not good for everytime or for large number of null values

So let's use method 2 for using this data