In [4]:
import pandas as pd
df = pd.read_csv('ad_click_dataset.csv')

In [5]:
cat_var = df.select_dtypes(include = 'object')
cat_var

,full_name,gender,device_type,ad_position,browsing_history,time_of_day
0,User670,NaN,Desktop,Top,Shopping,Afternoon
1,User3044,Male,Desktop,Top,NaN,NaN
2,User5912,Non-Binary,NaN,Side,Education,Night
3,User5418,Male,NaN,NaN,Entertainment,Evening
4,User9452,Non-Binary,NaN,NaN,Social Media,Morning
...,...,...,...,...,...,...
9995,User8510,NaN,Mobile,Top,Education,NaN
9996,User7843,Female,Desktop,Bottom,Entertainment,NaN
9997,User3914,Male,Mobile,Side,NaN,Morning
9998,User7924,NaN,Desktop,NaN,Shopping,Morning
9999,User3056,Male,Tablet,Top,Social Media,Morning

In [12]:
miss_val_per = cat_var.isnull().mean()*100
miss_val_per

full_name            0.00
gender              46.93
device_type         20.00
ad_position         20.00
browsing_history    47.82
time_of_day         20.00
dtype: float64

In [16]:
cat_var['gender'].fillna('missing')

0          missing
1             Male
2       Non-Binary
3             Male
4       Non-Binary
           ...
9995       missing
9996        Female
9997          Male
9998       missing
9999          Male
Name: gender, Length: 10000, dtype: object

In [17]:
cat_var['gender'].mode()

0    Female
Name: gender, dtype: object

In [21]:
cat_var['gender'].value_counts()

gender
Female        1834
Male          1810
Non-Binary    1663
Name: count, dtype: int64

In [22]:
cat_var['gender'].fillna(cat_var['gender'].mode()[0])

0           Female
1             Male
2       Non-Binary
3             Male
4       Non-Binary
           ...
9995        Female
9996        Female
9997          Male
9998        Female
9999          Male
Name: gender, Length: 10000, dtype: object

In [23]:
isnull_per = cat_var.isnull().mean()*100
miss_var=isnull_per[isnull_per > 0].keys()
miss_var

Index(['gender', 'device_type', 'ad_position', 'browsing_history',
       'time_of_day'],
      dtype='object')

In [24]:
for var in miss_var:
    cat_var[var].fillna(cat_var[var].mode()[0],inplace = True)
    print(var, "=", cat_var[var].mode()[0])

gender = Female
device_type = Desktop
ad_position = Bottom
browsing_history = Entertainment
time_of_day = Morning

C:\Users\91965\AppData\Local\Temp\ipykernel_12640\304645517.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cat_var[var].fillna(cat_var[var].mode()[0],inplace = True)

In [25]:
cat_var.isnull().sum()

full_name           0
gender              0
device_type         0
ad_position         0
browsing_history    0
time_of_day         0
dtype: int64

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

# Sample data
data = {
    'Hours_Studied': [1, 2, 3, 4, 5],
    'Pass': [0, 0, 1, 1, 1]
}
df = pd.DataFrame(data)

# Features and target
X = df[['Hours_Studied']]
y = df['Pass']

# Train a logistic regression model
model = LogisticRegression()
model.fit(X, y)

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, np.nan],
    'B': [np.nan, 2, np.nan],
    'C': [1, 2, np.nan]
})

In [16]:
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  NaN  NaN

### If atleast one the values in any rows has NULL then how='any' will drop them
### how='any' (default):

In [17]:
df_dropped_any = df.dropna(axis=0, how='any')
df_dropped_any

     A    B    C
1  2.0  2.0  2.0

### If all the values in any rows are NULL then how='all' will drop them

In [18]:
df_dropped_all = df.dropna(axis=0, how='all')
df_dropped_all

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0

In [19]:
df2 = df.dropna()

In [20]:
df2

     A    B    C
1  2.0  2.0  2.0

In [2]:
# DataFrame with NaN values
import pandas as pd
data_with_nan = {'A': [1, 2, 2, 3, 3],
                 'B': [5, 5, 5, None, 6],
                 'C': ['a', None, 'b', 'b', 'b']}

df_nan = pd.DataFrame(data_with_nan)
df_nan

   A    B     C
0  1  5.0     a
1  2  5.0  None
2  2  5.0     b
3  3  NaN     b
4  3  6.0     b

In [3]:
# Finding the mode for each column
mode_values = df_nan.mode(dropna=True)
mode_values

   A    B    C
0  2  5.0    b
1  3  NaN  NaN

# Finding the mode without dropping NaN values

In [4]:
mode_nan = df_nan.mode(dropna=False)
mode_nan

   A    B    C
0  2  5.0    b
1  3  NaN  NaN